.temperature-graph {
  margin: 40px 0px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 1px;
  border-radius: 5px;

  .graph-title {
    font-size: 15px;
    margin-bottom: 45px;
  }
}
